# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.mex
*.mexw64

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Log files
*.log

# Autosave files
*.asv

# Other
.cproject
.project
.settings
aclocal.m4
Makefile.in
INSTALL
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
autom4te.cache/*
config/*
include/config.h.in
include/config.h.in~
configure
**/.deps/*
Makefile
applications/fastgauss/fastgauss.c
applications/polarFFT/linogram_fft_test.c
applications/polarFFT/mpolar_fft_test.c
applications/polarFFT/polar_fft_test.c
applications/radon/inverse_radon.c
applications/radon/radon.c
config.log
config.status
doxygen/doxygen.Doxyfile
examples/nfct/simple_test.c
examples/nfft/simple_test.c
examples/nfft/simple_test_threads.c
examples/nfst/simple_test.c
examples/solver/glacier.c
examples/solver/simple_test.c
include/config.h
include/stamp-h1
include/ticks.h
libtool
*.pc
**/.libs/*
applications/fastgauss/fastgauss
applications/fastsum/fastsum_matlab
applications/fastsum/fastsum_test
applications/fastsumS2/fastsumS2
applications/iterS2/iterS2
applications/mri/mri2d/construct_data_2d
applications/mri/mri2d/construct_data_inh_2d1d
applications/mri/mri2d/construct_data_inh_3d
applications/mri/mri2d/reconstruct_data_2d
applications/mri/mri2d/reconstruct_data_gridding
applications/mri/mri2d/reconstruct_data_inh_2d1d
applications/mri/mri2d/reconstruct_data_inh_3d
applications/mri/mri2d/reconstruct_data_inh_nnfft
applications/mri/mri3d/construct_data_2d1d
applications/mri/mri3d/construct_data_3d
applications/mri/mri3d/reconstruct_data_2d1d
applications/mri/mri3d/reconstruct_data_3d
applications/mri/mri3d/reconstruct_data_gridding
applications/polarFFT/linogram_fft_test
applications/polarFFT/mpolar_fft_test
applications/polarFFT/polar_fft_test
applications/quadratureS2/quadratureS2
applications/radon/inverse_radon
applications/radon/radon
examples/fpt/simple_test
examples/nfct/simple_test
examples/nfft/flags
examples/nfft/ndft_fast
examples/nfft/nfft_times
examples/nfft/simple_test
examples/nfft/taylor_nfft
examples/nfsft/simple_test
examples/nfsoft/simple_test
examples/nfst/simple_test
examples/nnfft/accuracy
examples/nnfft/simple_test
examples/nsfft/nsfft_test
examples/nsfft/simple_test
examples/solver/glacier
examples/solver/simple_test
doc
tests/checkall
*.trs
CUnitAutomated-Results.xml
